@use "../custom" as *;

.intro-section{
    padding-top: 15rem;
    padding-bottom: 15rem;
}
.intro-bg{
    height: 30rem;
    width: 50rem;
    opacity: 1;
}
.sintro-bg{
    height: 10rem;
    width: 48rem;
    opacity: 1;
    margin: auto;
}
.intro-bgimg{
    background-image: url("../../assets/bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}