@use "../custom" as *;

.intro-section{
    padding-top: 15rem;
    padding-bottom: 15rem;
}
.intro-bg{
    height: 30rem;
    width: 50rem;
    background-color: black;
    opacity: 0.7;
}
.sintro-bg{
    height: 10rem;
    width: 48rem;
    background-color: white;
    opacity: 0.9;
    margin: auto;
}
.intro-bgimg{
    background-image: url("../../assets/background-hd-minimalist-monochrome-illustration-painting-drawing-art-sketch-web-development_6jc7Io2d_upscaled.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}