@use "../custom" as *;

.resume-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #212529;
}
.resume-heading{
    padding-bottom: 5rem;
}
.resume-container{
    color: $primary !important;
    opacity: 1;
}
.resume-bg{
    height: 30rem;
    width: 100%;
    opacity: 1;
}
.spt-line {
    height: 1px;
    background: $primary;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }