@use '../custom' as *;

.body-bg{
    background-image: url("../../assets/background-hd-minimalist-monochrome-illustration-painting-drawing-art-sketch-web-development_6jc7Io2d_upscaled.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}