@use "../custom" as *;



.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Bellota Text';
    font-weight: bold;
    &--intro{
        font-family: 'Bellota Text';
        color: black;
        display: inline-block;
        font-size: 5rem;
        padding-left: 2rem;
        padding-right: 5rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    &--description{
        font-family: 'Bellota Text';
        color: black;
        font-size: 1.9rem;
        display: block;
        padding-left: 1rem;
        padding-right: 2rem;
    }
}

.display-3{
    font-family: 'Bellota Text';
    &--abtintro{
        font-family: 'Bellota Text';
        font-weight: bold;
        font-size: 8rem;
        color: black;
    }
    &--abttitle{
        font-family: 'Bellota Text';
        font-size: 3rem;
        color: black;
        font-weight: bold;
        opacity: 1;
        text-transform: uppercase;
    }
    &--abtdescription{
        font-family: 'Bellota Text';
        font-size: 2rem;
        color: black;
        opacity: 1;
    }
    &--resintro{
        font-family: 'Bellota Text';
        font-weight: bold;
        font-size: 8rem;
        color: white;
    }
    &--restitle{
        font-family: 'Bellota Text';
        font-size: 3rem;
        color: white;
        font-weight: bold;
        opacity: 1;
        text-transform: uppercase;
    }
    &--resdescription{
        font-family: 'Bellota Text';
        font-size: 2rem;
        color: white;
        opacity: 1;
    }
}
.line-1 {
    height: 1px;
    background: #dc3545;
    margin-bottom: 1rem;
    width: 10%;
  }